*{box-sizing: border-box;}
body{
    background-color:#9ACFB0;
    font-size:20px;
    color:black;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
header{
    font-size:30px;
    background-color:#559A77;
    padding:1%;
    text-align: center;
    border:#9ACFB0 double 5px;
    color:#233e33;
    text-shadow:black 1px 1px 1px;}
section{
    background-color:#559A77;
    border: #9ACFB0 double 3px;
    border-top:none;
    padding:2%;
    opacity: .8;}
table{
    border:#9ACFB0 double 5px;
    margin:2%;
    font-size:20px;
    overflow:auto;
    width:auto;}
td,th{
    border-bottom:2px solid #9ACFB0;
    border-right:2px solid #9ACFB0;
    overflow:auto;
    padding:1%;}
footer{
    font-size: smaller;
    background-color:#9ACFB0;
    opacity:.7;
    padding:1%;
    margin-bottom:1%;}
img{
    border:#9ACFB0 double 5px;
    max-width:100%;}
h2{
    font-size: 25px;
    text-shadow: #9ACFB0 1px 1px 1px;}
p.tip {
    position: relative;
    z-index: 100;
    padding:10px;}
p.tip span {
    display: none;}
p.tip:hover span {
    display: block;
    position: absolute;
    width: 200px;
    padding: 3px;
    border: 1px solid black;
    background: linear-gradient(#9ACFB0,white);
    color: black;
    text-align: center;
    margin-top:1%;} 
div{flex:1;}
.sidenav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #233e33;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;}
.sidenav a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size:30px;
    color:#9ACFB0;
    display:block;
    transition:0.3s;}
.sidenav a:hover{color:#f1f1f1;}
.sidenav .closebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size:36px;}
#main{
    transition:margin-left .5s;
    padding:5px;}
    @media screen and (max-height:450px){
        .sidenav{padding-top:15px;}
        .sidenav a{font-size:18px;}}
[class*="col-"]{
    width:100%;
    float:left;}
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}}
@media only screen and (min-width: 768px) {
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
        .parallax {
            background-image: url("../media/background.jpg");
            height: 115%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}}
